* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* color text  */
.pink-text {
    color: rgb(247, 81, 205);
}

.black-text {
    color: #0B0223;
}

.violate-text {
    color: #8758F1;
}



.pink-button {
    background-color: rgb(247, 81, 205);
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.blue-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}




/* header  */

nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 150px;
    padding-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    ;

}

nav>ul {
    display: flex;
}

.logo {
    display: flex;
    /* width: 1400px; */
}

.logo>img {
    padding-right: 20px;
    width: 86.041px;
    height: 40px;
    padding-top: 50px;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;
    /* margin-top: 40px; */
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.yt {
    margin-right: 20px;
}


.li-icon {
    margin-left: -10px;
}

.a1 {
    margin-top: 35px;
    /* margin-left: 50px; */
}


.unique-list {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-top: 20px;
    width: 240px;
    height: 50px;
    padding-right: -10px;

}

.logo-title {
    font-size: 45px;
    font-weight: 700;
}


/* banner */


.banner {
    background-image: url(../images/Group-14.png);
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;

}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    /* margin-left: 150px;
    margin-right: 100px; */
}

.banner-item {
    display: flex;
    padding-bottom: 30px;
    padding-left: 150px;
}


.p1 {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner img {
    width: 901px;
    height: 700px;
}

.banner-title-2 {
    color: #8758F1;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto;

}

.banner-title-1 {
    color: #0B0223;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 auto;
}

.button-position {
    display: flex;
    gap: 15px;
}

.banner-pic {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 120px;
}

.banner-pic img {
    width: 60%;
    height: 100%;
    padding-left: 230px;
}

/* online games */
.online {
    max-width: 1400px;
    margin: 0px auto;
}

.online-title {
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;

}

.online-text {
    text-align: center;
    margin-top: 0;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card-item p {
    color: #534C64;
    padding-top: 10px;
}

.card-item {
    position: relative;
}

.card-item i {
    display: block;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    color: #FFFFFF;
    display: none;
}

.card-item::after {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -2%;
    left: -2%;
    width: 100%;
    height: 83%;

}

.card-item:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
    border: 10px solid rgb(247, 81, 205);
    cursor: pointer;
    border-radius: 10px;

}



.card-item:hover .play {
    display: inline-block;
}

/* instant-play  */
.play-instant {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
}

.play-instant-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.play-instant-text {
    text-align: right;
    padding-left: 100px;
}

.play-instant-title {
    font-size: 3rem;
    font-weight: 700;


}

.play-instant-title p {
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
}

.play-instant-img {
    align-items: center;
    position: relative;

}

.i1 {
    width: 70%;
    padding-left: 300px;

}

.i2 {
    width: 30%;
    position: absolute;
    bottom: -10%;
    left: -13%;
    padding-left: 300px;
}

/* types */
.types {
    margin: 0 auto;
    margin-top: 200px;
}

.types-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.type-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 65px;
}

.types-content img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
}

.types-content p {
    padding-right: 40px;
}

.types .type-card:hover {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    cursor: pointer;
}


/* footer  */
footer {
    margin-top: 4rem;
    background-color: #0B0223;
    color: #FFFFFF;
    height: 580px;
}

.div-logo {
    display: flex;
    justify-content: center;
}

.div-logo img {
    width: 86.041px;
    height: 40px;
    padding-top: 45px;
    padding-right: 15px;
}

.div-logo h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.footer-content {
    padding-top: 4rem;
    margin: 0 auto;
    text-align: center;
}

.footer-nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social i {
    color: #FFFFFF;
    width: 60px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.policy a {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    padding: 15px;
    padding-bottom: 4rem;
}

.coypright {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.60);


}


/* responcive */

/* mobile  */
@media screen and (max-width: 576px) {


    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-pic img {
        padding-left: 55px;
        width: 90%;
    }

    nav>ul {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        align-items: center;
        padding-left: 60px;
    }

    .logo>img {
        padding-top: 0px;
    }

    .banner-item {
        padding-left: 175px;
    }

    /* .online{
        flex-direction: column;
    } */
    /* .online-container{
        width: 1600px;
        align-items: center;
        text-align: center;
    } */
    .card {
        grid-template-columns: 1fr;
        padding-left: 200px;
    }

    .online-title,
    .online-text {
        padding-left: 120px;
        width: 500px;
    }

    .play-instant-content {
        flex-direction: column;
    }

    .play-instant-text {
        text-align: center;
        padding-left: 280px;
        width: 500px;
    }

    .i1,
    .i2 {
        padding-left: 250px;
    }

    .types-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 300px;
    }

    footer {
        width: 675px;
    }
}


/* tab  */

@media screen and (min-width: 576px) and (max-width: 960px){
    nav{
        width: 1100px;
    }
    .banner{
        padding-top: 20px;
        background-image: url(../images/Group-14.png);
        background-size: 100%;
    }
    .banner-pic img{
        width: 450px;
        padding-left: 180px;
    }
}




/* nav,
    nav>ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 190px;
        background-color: none;
    }
    .logo{
        padding-left: 550px;
    }

    nav>ul {
        margin: 0 auto;
    }

    .banner {
        background-image: none;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-pic img {
        width: 700px;
        padding-left: 150px;
    }


    .banner-item {
        margin-top: 5rem;
    }


    .online-title {
        text-align: center;
        padding-left: 90%;
        width: 100%;
    }

    .online-text {
        text-align: center;
        padding-left: 90%;
        width: 100%;
        font-size: 2rem;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .card-item {
        padding-left: 350px;
        width: 603px;
        height: 560.331px;
        flex-shrink: 0;
    }
    .card-item img{
        width: 450px;
        height: 470px;
    }
    .card-item p{
        font-size: 1.5rem;
        width: 70%;
    }
    .play-instant-content{
        flex-direction: column;
    }
    .play-instant-text{
        align-items: center;
        text-align: center;
        width: 500px;
        padding-left: 160%;
        padding-bottom: 25px;
    }

    .i1, .i2{
        padding-left: 500px;
    }
    .types-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
  padding-left: 550px;
    }
    footer{
        width: 1020px;
    } */

